
body {
    background: #fafafa;    /* almost white */
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    padding-top: 16%;
    color: #292c37;         /* black eye */
}
