
@font-face {
  font-family: alegreya;
  src: url(/assets/fonts/AlegreyaSans-ExtraBoldItalic.woff2);
}

body {
    background: #faf8f6;
    font-family: alegreya, sans-serif;
    color: #292c37;
}

h1 {
    text-align: center;
    padding-top: 16%;
}
